*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.contenedor{
    display: grid;
    grid-template-columns: 200px 3fr; 
    grid-template-rows: auto 1fr 1fr auto;

    text-align: center;

    grid-template-areas:
    "header1 header1"
    "navegador articulo"
    "aside articulo"
    "pie pie"

}
header{
    grid-area:header1;
    border:2px solid black;
    width:100%;
    padding:20px;
}
nav{
    grid-area:navegador;
    border:2px solid black;
    width:100%;
    padding:20px;
}

aside{
    grid-area:aside;
    border:2px solid black;
    width:100%;
    padding:20px;
}

article{
    grid-area:articulo;
    border:2px solid black;
    width:100%;
    padding:20px;
}

footer{
    grid-area:pie;
    border:2px solid black;
    width:100%;
    padding:20px;
}