*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: beige;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   

}
.contedor-principal{
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
     padding: 2rem;
}

h1{
    color: rgb(76, 76, 243);
}
h2{
    color: rgb(127, 127, 241);
    padding-bottom:0.5rem ;
    border-bottom:1px solid rgb(177, 157, 157)
}
.seccion-analise{

}
.seccion-galeria{

}
.contedor-imaxes{

}
.miniaturas{

}
.contedor-historial{

}
.seccion-controles{

}
.grupo-controles{

}
/* #imaxe-principal{
    width: 60%;
    height: 80vh;
} */
