* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: cyan;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
:root {
  --color-principal: rgb(76, 76, 243);
  --color-secundario: rgb(127, 127, 241);
}
.contedor-principal {
  background-color: white;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 2rem;
  padding: 2rem;
}

h1 {
  color: var(--color-principal);
  text-align: center;
}
h2 {
  color: var(--color-secundario);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(177, 157, 157);
}
.seccion-analise {
  & > p:first-of-type {
    padding-top: 1rem;
  }
}
.seccion-galeria {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contedor-imaxes {
  display: grid;
  grid-template-columns: 2fr  1fr;
  gap: 1rem;

}
.imaxe-grande{
  box-shadow: 0 0 5px gray;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  max-width: 85vh;
  max-height: 80vh;
  
}
.miniaturas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & img {
    width: 60%;
    height: 20vh;
  }
}
.contedor-historial {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.seccion-controles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.grupo-controles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grupo-controles input {
  grid-column: 1/4;
}
button {
  background-color: var(--color-principal);
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: var(--color-secundario);
  }
}


@media (width<=600px){
  .contedor-imaxes {
  display: flex;
  flex-direction:column ;
  gap: 1rem;
}
.miniaturas {
  display: flex;
  flex-direction: row;
  & img {
    width: 30%;
    max-height: 15vh;
    min-height: 50px;
  }
}

}
