* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    background-color: beige;
    align-items: center;
}

h1 {
    text-align: center;
    color: darkblue;
    text-shadow: 5px 2px 5px black;

}

p {
    text-align: center;
}

#intentoNum {
    border-radius: 0.5rem;
    height: 5vh;
    width: 20vw;
    text-align: center;
    box-shadow: 2px 2px 2px black;
}

button {
    padding: 1rem;
    border-radius: 1rem;
    background-color: lightblue;
    font-size: larger;
    color: black;
    width: 40vw;
    box-shadow: 5px 5px 15px black;
    transition: transform 0.3s ease;
}

button:hover {
    transform: translateX(20px) scale(1.2);
}

button:active {
    transform: rotate(180deg);
}

#mensaje,
#intentos {
    padding: 20px;
    border: 2px solid black;
    border-radius: 2rem;
}

#mensaje {
    box-shadow: 2px 2px 3px black, 5px 3px 8px blue;
    background-color: rgb(86, 86, 247);
}

#intentos{
box-shadow: 2px 2px 3px black, 5px 3px 7px red;
    background-color: rgba(250, 0, 0,0.6);
}