* {
    text-align: center;

}


header {
    background-color: antiquewhite;
    width: 100%;
}

.menu-nav {
    padding: 10px;
}

.menu {
    list-style-type: none;
    display: flex;
}

nav li {
    display: inline;
    padding: 5px;

}