*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
}
.contenedor{
display: flex;
flex-wrap: wrap;
gap: 20px;
}
.tarjeta{
    padding: 15px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    flex: 1 1 200px; /*Crece, mengua, tamaño base */
    
}
#tarjeta1{
    background-color: lightgreen;
}
#tarjeta2{
    background-color: rgb(43, 22, 236);
}
#tarjeta3{
    background-color: rgb(235, 66, 15);
}
#tarjeta4{
    background-color: rgb(247, 24, 210);
}

@media(max-width:500px){
    .contenedor{
        display:flex;
        flex-direction: column;
        
    }
    .tarjeta{
        flex: 1 1 100%;
    }
   
}