* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    padding: 30px;
    background-color: aqua;

    
    
}

body{
display:flex;
flex-direction: column;
min-height: 100vh;

}
.contenedor {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: bisque;

}




.novas article:first-child {
    background-color: aqua;
    border-left: 4px solid blue;
}

.novas article:nth-child(2) {
    background-color: rgb(117, 117, 240);
    border-left: 4px solid navy;
}

.novas article:last-child {
    background-color: rgb(111, 241, 111);
    border-left: 4px solid green;
}

.novas article {
    background-color: rgb(241, 111, 111);
    margin: 10px;
   

    border-left: 4px solid red;
    border-radius: 20px;

 
    padding: 30px 10px 30px 10px; 

    margin-left: 30px;
    width: 80%;
    box-shadow: 5px 5px 5px black;
 
}
.novas{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    margin-left: 30px;
    width: 80%;
}


.novas article h2::before {
    content: "📰";
    position: absolute;
    left: 10px;
    width: 10%;

}

article a {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite ;
    flex:0 0 10vh;
    gap: 10rem;

}
.menu a{
    color: blue;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
}
.menu a:hover, 
.menu a:focus{
    background-color: white; /*Solo le aplica a esta porque es definido asi*/
    border-radius: 10px;
}
.menu a:active{
    background-color: red;
}
.menu li{
    list-style-type: none;
    

}

ul li a::after {
    content: " →";
    text-decoration: underline;
    color: blue;
}


footer {
    background-color: beige;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 0 0 10vh;
    

}

