* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root{
    --color-principal:blue;
    --color-secundario:rgba(0, 0, 255,0.3);
}

.formularioGlobal {
    background-color: white;
    box-shadow: 0 0 3px 3px black;
    border-radius: 1rem;
    padding: 1.5rem 0.5rem;
    min-width: 450px;
    width: 30%;
    min-height: 500px;
}

.formularioGlobal h1{
    text-align: center;
}

.a単adirEvento {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 1rem;
    padding: 0.5rem;
}
.a単adirEvento h2{
    grid-column: 1/3;
    text-align: center;
}
button{
    grid-column: 2/3;
    background-color: var(--color-principal);
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
}
button:hover{
    background-color: var(--color-secundario);
}
.a単adirEvento label,input[type='date'],input[type='text']{
    padding: 0.3rem;
    border-radius: 1rem;
}
.a単adirEvento input[type='text']{
    text-align: center;
}

.historialEventos{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.botones{
    display: flex;
    justify-content: space-evenly;
}
#listaEventos{
    
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 1rem;

}
.evento{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    border-left:2px solid  var(--color-principal);
    background-color: var(--color-secundario);
    box-shadow: 0 0 3px 1px var(--color-principal);
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
}

.botones-evento{
    display: flex;
    gap: 1rem;
    justify-content: space-around;

}
.botones-evento button{
    border:none;
    background-color: transparent;

}
.botones-evento button:hover{
    background-color: lightgray;
    border-radius: 0.5rem;
}
#error{
    grid-column: 1/3;
    text-align: center;
    font-size: 20px;

}
h1,h2{
    color: var(--color-principal);
    padding: 0.25rem;
}