*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(235, 205, 205);
}

legend{
    font-size: xx-large;
    text-align: center;
    text-shadow: 3px 3px 5px;
    padding: 50px;

}
fieldset{   
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 2px;
    margin: 50px;
    background-color: whitesmoke;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"]{
    width: 60vw;
}

button{
    width: 20vw;
    display: inline-block;
}
