* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: cornsilk;
}

.tablero-notas {
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    min-width: 450px;
    max-height: 100%;
    box-shadow: 0 0 5px 5px black;
    outline: groove 2px red;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.recoger-datos {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 0.15fr);
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: left;
    padding: 2rem;
    gap: 1rem;
}

input[type='text'] {
    padding: 4px;
    border-radius: 1rem;
    text-align: center;
}

#alumnos-notas {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-radius: 10px;


}

button {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 1rem;
    cursor: pointer
}

#alumnos-notas th,
#alumnos-notas tr,
#alumnos-notas td {
    border: 1px solid black;
    padding: 0.5rem;
}

#alumnos-notas th:nth-child(4) {
    width: 25%;
}

#error {
    color: red;
    font-size: 21px;
}

.botones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.botones button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botones button:hover {
    background-color: lightgray;
}