<!DOCTYPE html>
<html>
<head><title>Práctica DWES</title></head>
<body>
    <h1>Gestión del Centro Formativo</h1>
    <hr>
    <h3>Cursos Activos</h3>
    <ul>
        {% for curso in cursos %}
        <li>{{ curso.nombre }} (ID: {{ curso.id }})</li>
        {% endfor %}
    </ul>
    
    <h3>Acciones de Prueba</h3>
    <form action="/test-crear" method="POST">
        <input type="text" name="nombre" placeholder="Nombre Alumno">
        <input type="email" name="email" placeholder="Email">
        <input type="number" name="curso_id" placeholder="ID del Curso">
        <button type="submit">Probar Crear Alumno</button>
    </form>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}<p style="color: red;">{{ messages[0] }}</p>{% endif %}
    {% endwith %}
</body>
</html>