*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(235, 205, 205);
}

h2{
    font-size: xx-large;
    text-align: center;
    text-shadow: 3px 3px 5px;
    padding: 50px;

}

.contenedorForm{
 margin:0 auto;
 max-width: 400px;

}
fieldset{   
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 2px;
    margin: 50px;
    background-color: whitesmoke;
   
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"]{
    width: 60vw;
}

input[type="email"],input[type="password"]:invalid{
border-color: rgb(68, 0, 255);
}
input[type="email"],input[type="password"]:valid{
border-color: green;
}

button{
    width: 20vw;
    display: inline-block;
    
}
button:hover{
transform:scale(0.8,2)
}
