       body {
            font-family: Arial, sans-serif;
            padding: 20px;
            background-color: #f4f4f4;
        }

        .contedor {
            max-width: 600px;
            margin: 0 auto;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #log-mensaxes {
            border: 1px solid #ccc;
            height: 300px;
            overflow-y: scroll;
            padding: 10px;
            margin-bottom: 15px;
            background: #eee;
        }

        .estado {
            font-weight: bold;
        }

        .conectado {
            color: #28a745;
        }

        .desconectado {
            color: #dc3545;
        }
        .cliente{
            color: #28a745;
        }
        .servidor{
            color: blueviolet;
        }
        .informacion{
            color: #dc3545;
        }